<!DOCTYPE html>
<html>
    <body>
        <input id="input" type="text">
    </body>
    <script>
        const map = [
            [[0, 0], ['this is room 1']],
            [[0, 1], ['this is room 2']]
        ];
        var position = [0, 0];
        var lastPosition = [0, 0];

        //run the script when enter is pressed
        document.onkeydown = function(e){
            e = e || window.event;
            var key = e.which || e.keyCode;
            if(key === 13){
                run();
            }
        }

        //main run function
        function run(){
            console.log(map);
            //get input from text box
            input = document.getElementById('input').value;
            if(input == ''){
                return;
            }
            console.log(input);

            interpreter();
        }

        function interpreter(){
            if(input == 'up'){
                position[1] += 1;
                accessMap()
            }
            else if(input == 'down'){
                position[1] -= 1;
                accessMap()
            }
            else if(input == 'right'){
                position[0] += 1;
                accessMap()
            }
            else if(input == 'left'){
                position[0] -= 1;
                accessMap()
            }
        }

        function accessMap(){
            console.log(position);
            console.log(lastPosition);
            var positionInfo = position.toString();
            var positionTest = 0;
            console.log('before: ' + positionTest);
            for(i = 0; i < map.length; i++){
                mapInfo = map[i][0].toString();
                console.log('Map info: ' + mapInfo);
                console.log('Position info: ' + positionInfo);
                if(positionInfo == mapInfo){
                    console.log('in map');
                    positionTest = 1;
                    lastPosition = position;
                    console.log('in map test: ' + positionTest);
                }
            }
            console.log('after: ' + positionTest);
            if(positionTest != 1){
                console.log('not in map');
                position = lastPosition;
                console.log('out map test: ' + positionTest);
            }
            console.log(position);
            console.log(lastPosition);
        }
    </script>
</html>